## Import Series with the pd.read_csv Function
- A __CSV__ is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different read_ functions for different types of files.
- The read_csv function accepts many different parameters. The fist one specifies the file name/path.
- The read_csv function will import the dataset as a __Dataframe__, a 2-dimensional table.
- The usecols parameter accepts a list of the column(s) to import.
- The squeeze method convers a __Dataframe__ to a __Series__.

In [16]:
import pandas as pd

In [18]:
pokemon =pd.read_csv('Pokemon (2).csv', usecols=['Name']).squeeze('columns')
pokemon

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [64]:
pokemon2 = pd.read_csv('Pokemon (2).csv', usecols=['Name'])
pokemon2

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]