## Passing Series toPythons's Built-in Functions
- The _len_ function returns t5he lengh of the __Series__.
- The _type_ function return the type of an object.
- The _list_ function convert the __Series__ to a list.
- The _dict_ function converts the __Series__ to a sorted list.
- The _max_ function returns the largest value in the __Series__.
- The _min_ function returns the smallest value in the __Series__.

In [14]:
import pandas as pd

In [29]:
pokemon = pd.read_csv('Pokemon (2).csv', usecols=['Name'])

In [31]:
pokemon.head()

                    Name
0              Bulbasaur
1                Ivysaur
2               Venusaur
3  VenusaurMega Venusaur
4             Charmander

In [33]:
len(pokemon)

800

In [35]:
type(pokemon)

pandas.core.frame.DataFrame

In [37]:
list(pokemon)

['Name']

In [39]:
sorted(pokemon)

['Name']

In [41]:
list

list

In [43]:
sorted(pokemon)

['Name']

In [45]:
dict(pokemon)

{'Name': 0                  Bulbasaur
 1                    Ivysaur
 2                   Venusaur
 3      VenusaurMega Venusaur
 4                 Charmander
                ...
 795                  Diancie
 796      DiancieMega Diancie
 797      HoopaHoopa Confined
 798       HoopaHoopa Unbound
 799                Volcanion
 Name: Name, Length: 800, dtype: object}

In [47]:
max(pokemon)

'Name'

In [49]:
max(pokemon)
min(pokemon)

'Name'